
/.vs
*.vcxproj
*.filters
*.user
*.cmake
CMakeCache.txt
*.rule
/CMakeFiles
/Entity_System/CMakeFiles
/Entity_System/Entity_System.dir
*.sln
/Fork/CMakeFiles
/Fork/Fork.dir
/OUT
/Project/CMakeFiles
/Project/Project.dir
/Spegetti/.vs
/Spegetti/CMakeFiles
/Spegetti/Spegetti.dir
/x64
