
*.vcxproj
*.vcxproj
*.filters
*.filters
*.cmake
*.stamp
*.depend
*.depend
*.log
*.recipe
*.obj
*.tlog
*.sln
*.user
*.exe
*.vsidx
*.db
Fork/Fork.dir/Release/Fork.vcxproj.FileListAbsolute.txt
Project/Project.dir/Release/Project.vcxproj.FileListAbsolute.txt
Spegetti/.vs/Spegetti/v17/.suo
Spegetti/.vs/Spegetti/v17/DocumentLayout.backup.json
Spegetti/.vs/Spegetti/v17/DocumentLayout.json
Spegetti/Spegetti.dir/Release/Spegetti.vcxproj.FileListAbsolute.txt
