@ -1,46 +0,0 @@

/.vs
*.vcxproj
*.filters
*.user
*.cmake
CMakeCache.txt
*.rule
/CMakeFiles
/Entity_System/CMakeFiles
/Entity_System/Entity_System.dir
*.sln
/Fork/CMakeFiles
/Fork/Fork.dir
/OUT
/Project/CMakeFiles
/Project/Project.dir
/Spegetti/.vs
/Spegetti/CMakeFiles
/Spegetti/Spegetti.dir
/x64
/Map_System/CMakeFiles
/Map_System/Entity_System.dir
/Map_System/Map_System.dir
/Spegetti_Animation/CMakeFiles
/Spegetti_Animation/Entity_System.dir
/Spegetti_Animation/Spegetti_Animation.dir
/Spegetti_Animation_Controller/CMakeFiles
/Spegetti_Animation_Controller/Spegetti_Animation_Controller.dir
/Spegetti_Film_Maker/CMakeFiles
/Spegetti_Film_Maker/Fork.dir
/Spegetti_Film_Maker/Spegetti_Film_Maker.dir
/Spegetti_Launcher/CMakeFiles
/Spegetti_Launcher/Entity_System.dir
/Spegetti_Launcher/Spegetti_Launcher.dir
/Spegetti_Material_Editor/CMakeFiles
/Spegetti_Material_Editor/Entity_System.dir
/Spegetti_Material_Editor/Spegetti_Material_Editor.dir
/Spegetti_Noodle/CMakeFiles
/Spegetti_Noodle/Fork.dir
/Spegetti_Noodle/Spegetti_Noodle.dir
/Spegetti_Sauce/CMakeFiles
/Spegetti_Sauce/Entity_System.dir
/Spegetti_Sauce/Spegetti_Sauce.dir
/Spegetti_GUI/Spegetti_GUI.dir
/Spegetti_GUI/CMakeFiles
/.vscode
/build
